/* highlight.js用のスタイル */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f0f0f0;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-built_in,
  .hljs-name,
  .hljs-tag {
    color: #aa0d91;
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-section,
  .hljs-attribute,
  .hljs-literal,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-addition {
    color: #008000;
  }
  